@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
    background: linear-gradient(
        to right,
        #8400ff,
        #ff0000,
        #0026ff,
        /* #8400ff, */
        #8400ff,
        /* #ff0000, */
        #ff0000,
        /* #0026ff */
        #0026ff
    );
    background-size: 300% 300%;
    background-clip: text;
}